/*  your css code here. If applicable */
*{
	background: #444444;
}
#animal-photos{
	background: #d3d3d3;
	border-radius: 15px;
	
	
}

#photo-heading{
	color: white;
	text-align: center;
	
}

img{
	display: flex-inline;
	flex-direction: column;;
	justify-content: space-around;
}